.chibi {
top:0px;
margin-top: -50%
}
.aboutmepc {
  right:0px;
  margin-right: 35%;
  top:0px;
  margin-top: -3%;
  text-align:right;
}
.aboutmemobile {
  text-align:center;
}

#cookies-notification {
    position: fixed;
    bottom: 0;
    text-align: left;
    z-index: 100;
    width: 50%;
    margin: 0 auto;
}

#cookies-notification a:link {
    color:#4a95cc;
    text-decoration: underline;
}
